.produtos-grandes {
    min-width: 360px;
    height: 250px;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
}

.itens {
    display: flex;
    align-items: center;
    justify-content: center;
}

#volta, #passa {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    color: darkgray;
    background-color: brown;
    border: none;
    cursor: pointer;
}

#volta:hover, #passa:hover {
    background-color: darkred;
    color: white;
}

.produtos-grandes .itens .item > * {
    display: none;
    box-shadow: none;
    transition: transform 0.3s ease-in-out;
}

.produtos-grandes .itens .item > *:first-child {
    display: flex;
    margin: 0;
}


.produtos-grandes .itens .item:hover > *:first-child {
    transform: scale(1.1);
}

.produtos-grandes .produtos-grandes-dados .nome {
    font-weight: bold;
    font-size: 150%;
    margin-left: 20px;
    margin-top: 40px;
}

.produtos-grandes .produtos-grandes-dados .linha {
    width: 40px;
    border-top: 1px solid black;
    margin: 20px 0;
    margin-left: 20px;
}

.produtos-grandes .produtos-grandes-dados .comprar {
    color: white;
    background-color: darkred;
    margin-left: 20px;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.produtos-grandes .produtos-grandes-dados .comprar:hover {
    background-color: crimson;
}
