
.produtos {
    width: 100%;
    margin-bottom: 20px;
}

.produtos h2 {
    width: 100%;
    margin: 20px 0;
    text-align: center;
    font-size: 200%;
}

.produtos .item-dos-produtos {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* .produtos .item-dos-produtos > *:hover {
    transition: 0.5s;
    scale: 1.1;
} */